body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 248, 248) !important;
}
#header {
    color: deepskyblue;
    text-align: center;
    border-bottom: 1px solid rgb(160, 160, 160);
    width: 100%;
    margin-top: 4%;
    padding-bottom: 1%;
}
#formulario{
    text-align: center;
}
input, textarea {
    margin: 2% !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(173, 173, 173) !important;
    opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: rgb(173, 173, 173) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: rgb(173, 173, 173) !important;
}
svg{
    margin: 0% !important;
    margin-top: 10px !important;
    display: block;
}
#icons {
    text-align: -webkit-right;
}